.form__list {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
}

.form__item-label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-shadow: 1px 1px #333;
  font-weight: 400;
}

.form__item-field {
  flex: 1 0 220px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.form__item-field-input {
  outline: none;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.form__item-field-error {
  font-size: 0.9em;
  color: #ec7081;
}

.form__select {
  /* min-width: 256px; */
  height: 50px;
  background-color: #fff;
  /* padding: 0 10px; */
  padding: 0 40px 0 10px;
  border: none;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */

  /*  line-height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.select-icon {
  position: absolute;
  top: 26px;
  right: 15px;
}

@media screen and (max-width: 463px) {
  .select-icon {
    top: 86px;
    right: 15px;
  }
}

@media screen and (max-width: 482px) {
  .form__item-label {
    flex: 1 0 135px;
  }
}

.btn {
  margin: auto;
  padding: 15px 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px #333;
  letter-spacing: 0.09em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 15px auto;
}

.btn:disabled {
  background-color: #97c7e0;
  color: #555;
  text-shadow: 1px 1px #ddd;
  cursor: not-allowed;
}

.btn:active {
  box-shadow: 2px 2px 1px #333;
}

.btn--blue {
  background: #00a8ff;
  color: #f2f2f2;
}

.btn--blue:hover:enabled,
.btn--blue:focus {
  background: #1eb1fc;
}

.btn--blue:active {
  background: #1eb1fc;
}

.input-file {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-label {
  width: 100%;
  display: flex;
  border: 1px solid #3e51d3;
  background-color: #fff;
  padding: 0;
  line-height: 50px;
  height: 50px;
  border-radius: 5px;
  color: #3e51d3;
  cursor: pointer;
}

.name-file {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  color: #000;

  text-align: left;
  padding-left: 10px;
}

.btn-upload {
  height: 100%;
  min-width: 50px;
  color: #fff;
  background-color: #3e51d3;
  padding: 0 10px;
}

.input-svg {
  width: 18px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 5px;
}

@media screen and (max-width: 730px) {
  .btn-text {
    display: none;
  }
}
